/* .App {
  text-align: center;
} */

body {
	padding: 40px;
}

input {
	height: 26px;
	width: 200px;
}

.btn {
	height: 30px;
	width: 60px;
	background-color: #98c6fd;
	border: 0;
	border-radius: 5px;
	margin-left: 20px;
}

.list-container {
	width: 30%;
	padding: 5px 0px;
	text-align: center;
	background-color: #efefef;
	border-radius: 5px;
}

.list {
	list-style-type: none;
}

.list li {
	margin-bottom: 10px;
	padding: 5px;
	width: 80%;
	height: 30px;
	background-color: #d9d9d9;
	text-align: center;
}

.flex-wrapper {
	padding: 20px;
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
